{% extends 'base.html' %}

{% block content %}
<div class='container'>
    <form action='' method="post">{% csrf_token %}
        <figure class="text-center">
            <blockquote class="blockquote">
                <h1>楽天商品</h1>
            </blockquote>
        </figure>
        <div class="row mb-3">
            <label for="inputkeyword3" class="col-sm-2 col-form-label"><h3>キーワード</h3></label>
            <div class="col-sm-10">
                <input type="keyword" class="form-control" id="inputkeyword3" name='keyword'>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputkeyword3" class="col-sm-2 col-form-label"><h3>NGキーワード</h3></label>
            <div class="col-sm-10">
                <input type="keyword" class="form-control" id="inputkeyword4" name='ng_keyword'>
            </div>
        </div>
        <div class="row mb-3">
            <label for="sort_method" class="col-sm-2 col-form-label"><h3>並び順を選択してください</h3></label>
            <div class="col-sm-10">
                <input type="keyword" list="sort_method" class="form-control" id="inputkeyword5" name='sort'>
            </div>
            <datalist id="sort_method">
            <option label="楽天標準ソート順" value="standard">
            <option label="アフィリエイト料率順(昇順)" value="+affiliateRate">
            <option label="アフィリエイト料率順(降順)" value="-affiliateRate">
            <option label="レビュー件数順(昇順)" value="+reviewCount">
            <option label="レビュー件数順(降順)" value="-reviewCount">
            <option label="価格順(昇順)" value="+itemPrice">
            <option label="価格順(降順)" value="-itemPrice">
            <option label="レビュー平均順(昇順)" value="+reviewAverage">
            <option label="レビュー平均順(降順)" value="-reviewAverage">
            <option label="商品更新日時順(昇順)" value="+updateTimestamp">
            <option label="商品更新日時順(降順)" value="-updateTimestamp">
            </datalist>
        </div>
        <div class="row mb-3">
            <label for="inputkeyword3" class="col-sm-2 col-form-label"><h3>ファイル名</h3></label>
            <div class="col-sm-10">
                <input type="keyword" class="form-control" id="inputkeyword7" placeholder=".csvで終わらせてください" name='file'>
            </div>
            </div>
        <div class="row mb-3">
            <label for="inputkeyword3" class="col-sm-2 col-form-label"><h5>csvファイルを保存するフォルダ名</h5></label>
            <div class="col-sm-10">
                <input type="keyword" class="form-control" id="inputkeyword8" placeholder="フォルダ名を入力して下さい" name='folda'>
            </div>
        </div>
        <div class="search_button">
            <input type="submit" class="btn btn-primary btn-lg" id="btn5" value="検索">
        </div>
    </form>
</div>
{% endblock content %}